@CHARSET "UTF-8";

body {
    background: blanchedalmond;
    margin-left: 50px;
    margin-top: 50px;
}

li {
    background: coral;
    font-size: large;
    margin-left: 10px;
    text-indent: 5px;
}

table {
    border: 1px solid;
    border-color: black;
}

.odd {
    background-color: green;
}

.last {
    background-color: red;
}

.films {
}

.books {
}

/*TODO copy-paste*/
#user{
    display:block;
    float: right;
    margin-right: 30%;
}